header {
    background: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            li {
                a {
                    display: block;
                    padding: 12px 24px;
                    font-family: 'DINP-R';
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
    }
}